version: '3.8'
services:
  inventory-db:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"

  inventory-service:
    build: ./inventory-service
    ports:
      - "8081:8080"
    depends_on:
      - inventory-db

  order-service:
    build: ./order-service
    ports:
      - "8082:8080"